<div class="container">
    <div class="col-xs-12 col-sm-7">
        <!-- ABOUT ME -->
        <div class="box">
            <h2>Grade</h2>
            <p>Je suis Docteur en Informatique et qualifié aux fonctions de Maître de Conferences de la Section 27-Informatique du Conseil National des Universités (MCF CNU-27) 2015. Date de qualification : 30/01/2015.
                <br>
                Numero de Qualification : 15227265599.</p>
        </div>
        <!-- EDUCATION -->
        <div class="box">
            <h2>Education</h2>
            <ul id="education" class="clearfix">
                <li>
                    <div class="year pull-left">2014</div>
                    <div class="description pull-right">
                        <h3>Thèse (Avril 2011 - Avril 2014)</h3>
                        <p>Thèse de Doctorat sous la direction de Olivier Flauzac Professeur des Université et Florent Nolot Maître de Conférences HDR, intitulée Vers une structuration auto-stabilisante des réseaux ad hoc: cas des réseaux de capteurs sans fil, soutenue le 21 mai 2014, mention Très Honorable.</p>
                    </div>
                </li>
                <li>
                    <div class="year pull-left">2010</div>
                    <div class="description pull-right">
                        <h3>D.E.A (2009-2010)</h3>
                        <p>D.E.A d'Informatique Option Réseaux - Télécom à l'Université Cheikh Anta Diop de Dakar, SENEGAL sous la direction du Dr Ibrahima NIANG et du Pr Thomas Noel, intitulée : Sécurité dans les réseaux de capteurs : DKS-LEACH, un protocol de gestion de clés pour sécuriser LEACH, soutenu le 10 octobre 2010, mention Bien</p>
                    </div>
                </li>
                <li>
                    <div class="year pull-left">2009</div>
                    <div class="description pull-right">
                        <h3>A.E.A (2008-2009)</h3>
                        <p>A.E.A d'Informatique à l'Université Cheikh Anta Diop de Dakar, mention Assez-Bien </p>
                    </div>
                </li>
                <li>
                    <div class="year pull-left">2008</div>
                    <div class="description pull-right">
                        <h3>Maîtrise d'informatique(2007-2008)</h3>
                        <p>Maîtrise d'informatique à l'Université Cheikh Anta Diop de Dakar, mention Assez-Bien.</p>
                    </div>
                </li>
                <li>
                    <div class="year pull-left">2007</div>
                    <div class="description pull-right">
                        <h3>Licence d'informatique(2006-2007)</h3>
                        <p>Licence d'informatique à l'Université Cheikh Anta Diop de Dakar, mention Assez-Bien.</p>
                    </div>
                </li>
                <li>
                    <div class="year pull-left">2006</div>
                    <div class="description pull-right">
                        <h3>DUES 2(2005-2006)</h3>
                        <p>DUES 2 à l'Université Cheikh Anta Diop de Dakar, mention Assez-Bien.</p>
                    </div>
                </li>
                <li>
                    <div class="year pull-left">2005</div>
                    <div class="description pull-right">
                        <h3>DUES 1(2004-2015)</h3>
                        <p>DUES 1 à l'Université Cheikh Anta Diop de Dakar, mention Assez-Bien.</p>
                    </div>
                </li>
            </ul>
        </div>

</div>
    <div class="col-xs-12 col-sm-5">
        <!-- CONTACT -->
        <div class="box clearfix">
            <h2>Contact</h2>
            <div class="contact-item">
                <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
                <div class="title only pull-right">(221) 33 825 75 28 & (221) 33 825 37 24</div>
            </div>
            <div class="contact-item">
                <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
                <div class="title only pull-right">mandicou.ba@esp.sn</div>
            </div>
            <div class="contact-item">
                <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
                <div class="title only pull-right">mandicou.ba@ucad.edu.sn</div>
            </div>
            <div class="contact-item">
                <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
                <div class="title only pull-right">mandicou.ba@gmail.com </div>
            </div>
            <div class="contact-item">
                <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
                <div class="title only pull-right">mandicou.ba@mandicouba.net </div>
            </div>


        </div>
        <div class="box">
            <h2>Adresse postale</h2>
            <div class="description description ">
                Département de Génie Informatique <br>
                Ecole Supérieure Polytechnique (ESP)<br>
                Université Cheikh Anta Diop (UCAD)<br>
                Fann, Dakar, Sénégal.
            </div>

        </div>
        <div class="box">
            <h2>Distinctions</h2>
            <div class="skills">
                <a class="item-skills" href="http://mandicouba.net/data/BestPaperAwardIMCOM.pdf" data-percent="1.00">Best Paper Award at ACM IMCOM 2013</a>
                <a class="item-skills" data-percent="0.90" href="http://mandicouba.net/data/BestPaperAwardCTRQ.pdf">Best Paper Award at CTRQ 2013</a>
            </div>
        </div>


    </div>
</div>
