<div class="container-fluid">

        <div class="page-header">
        <h2 class="section-title">Mes activités d'enseignement à <span class="primary">l'ESP/UCAD</span></h2>
        <p class=" text-justify">
            Je dispense des enseignements dans des matières telles que la théorie des langages et automates, la compilation, l'algorithmiques et structures de données, la programmation, les systèmes d'exploitation, l'administration systèmes et réseaux, les réseaux informatiques, le génie logiciel reparti.
            <br/>J'interviens dans l'ensemble des cycles du Département Génie Informatique à savoir le DUT et de DIC (Options Informatique et Télécommunication Réseaux) mais également dans les cycles de Licence et Master (Options Génie Logiciel et Système d'Information (GLSI) et Réseaux Systèmes et Télécommunications (SRT)).
        </p>
        </div>
    <div class="row">
        <div class="col-md-6">
            <h3><strong>Enseignements en 2015 - 2016</strong>   </h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                DIC 2 Informatique
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul>
                                <li>Théories des Langages et Automates (30 Heures : 14H CM - 16H TD )</li>
                                <li>Compilation (30 Heures : 14H CM - 16H TP/TD )</li>
                                <li>Administration Systèmes et Réseaux (30 Heures : 14H CM - 16H TP/TD )</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading2">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                DIC 2 Télécommunications et Réseaux
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body">
                            <ul>
                                <li>Administration et Supervision des Réseaux (24 Heures : 10H CM - 14H TD )</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading3">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                Master 2 Génie Logiciel et Systèmes d'Information
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading3">
                        <div class="panel-body">
                            <ul>
                                <li>Cloud Computing et Virtualisation (30 Heures : 14H CM - 16H TP )</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading4">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                Master 1 Réseaux Systèmes et Télécommunications
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading4">
                        <div class="panel-body">
                            <ul>
                                <li>Administration et Supervision des Réseaux (24 Heures : 10H CM - 14H TD )</li>
                                <li>XML (30 Heures : 14H CM - 16H TP/TD )</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading5">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                Master 1 Réseaux Systèmes et Télécommunications
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading5">
                        <div class="panel-body">
                            <ul>
                                <li>Administration et Supervision des Réseaux (24 Heures : 10H CM - 14H TD )</li>
                                <li>XML (30 Heures : 14H CM - 16H TP/TD )</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading6">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                DIC 1 Informatique - Télécommunications et Réseaux
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading6">
                        <div class="panel-body">
                            <ul>
                                <li>Système d'Exploitation (30 Heures : 14H CM - 16H TD )</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading7">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                Licence 3 Génie Logociel et Systèmes d'Information
                            </a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading7">
                        <div class="panel-body">
                            <ul>
                                <li>Système d'Exploitation (30 Heures : 14H CM - 16H TD )</li>
                                <li>Algorithmique et Complexité (24 Heures : 10H CM - 14H TD )</li>
                                <li>Structures de Données (24 Heures : 10H CM - 14H TD )</li>
                                <li>Programmation Orientée-Objet JAVA (16 Heures TP/TD )</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading8">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                DUT et DST 1 Informatique
                            </a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading8">
                        <div class="panel-body">
                            <ul>
                                <li>Système d'Exploitation (60 Heures : 20H CM - 20H TD - 20H TP )</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <h3><strong>Enseignements en 2014 - 2015</strong>   </h3>
            <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading9">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                DIC 2 Informatique
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading9">
                        <div class="panel-body">
                            <ul>
                                <li>Théories des Langages et Automates (30 Heures : 14H CM - 16H TD )</li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading10">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                Master 1 Réseaux Systèmes et Télécommunications
                            </a>
                        </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading10">
                        <div class="panel-body">
                            <ul>
                                <li>Administration et Supervision des Réseaux (24 Heures : 10H CM - 14H TD )</li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading11">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                Licence 3 Génie Logociel et Systèmes d'Information
                            </a>
                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading11">
                        <div class="panel-body">
                            <ul>
                                <li>Programmation Orientée-Objet JAVA (16 Heures TP/TD )</li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="page-header">
        <p class=" text-justify">
        <h2 class="section-title">Mes activités d'enseignement à l'URCA <br></h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4><strong>Septembre 2014 - Aout 2015 : Contrat ATER</strong></h4>
            <p class="text-justify">
            Durant mon contrat ATER, j'ai été rattaché au département Mathématiques et Informatique où j'ai dispencé des enseignements en Master 2 et 1, en Lience 3 et 1. J'effectue un service annuel de 192 heures équivalent TD (soient 254 heures effectives) dans le domaine de l'algorithmique, de la programmation, des réseaux, de l'administration système, du génie logiciel reparti et des méthodes et outils informatiques. Mes enseignements, composés de CM, TP et TD, se sont repartis comme suit :
            </p>
            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading12">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                Master 2 Informatique
                            </a>
                        </h4>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading12">
                        <div class="panel-body">
                            <ul>
                                <li>Option ASR : Architecture des réseaux d'entreprise
                                    4H de TP et 2H CM/TD Plan d'dressage IP, Découpage sous-réseaux et les VLAN.</li>
                                <li>Option DAR : Développement logiciel pour les systèmes repartis
                                    10H de CM </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading13">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                Master 1 Informatique
                            </a>
                        </h4>
                    </div>
                    <div id="collapse13" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading13">
                        <div class="panel-body">
                            <ul>
                                <li>Réseaux informatiques :
                                    20H de TD - 20H deTP . Les énoncé des TP et TD sont disponibles sur le bureau virtuel</li>
                                <li>Administration des systèmes
                                    20H de TP au second semestre</li>

                                <li>Programmation des applications reparties
                                    10H de TP au second semestre</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading14">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                Licence 3 Informatique
                            </a>
                        </h4>
                    </div>
                    <div id="collapse14" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading14">
                        <div class="panel-body">
                            <ul>
                                <li>Licence 3, Introduction à la programmation client/serveur
                                    30H de TP : les énoncés sont disponibles <a href="http://www.cyrilrabat.fr/enseignement/Info0503/">ici, sur le site de M. Rabat</a>  10H de TD : les énoncés sont disponibles
                                    <a href="http://www.cyrilrabat.fr/enseignement/Info0503/">ici, sur le site de M. Rabat</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading15">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                Licence 1 Mathématiques-Informatique
                            </a>
                        </h4>
                    </div>
                    <div id="collapse15" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading15">
                        <div class="panel-body">
                            <ul>
                                <li>Introduction à la programmation orientée objet
                                    40H de TP au second semestre</li>
                                <li>Introduction à l'algorithmique et à la programmation
                                    40H de TP : les énoncés sont disponibles <a href="http://www.cyrilrabat.fr/enseignement/Info0101/"> ici, sur le site de M. Rabat</a></li>
                                <li>Mèthodes et Outils informatiques
                                    48H de TP : les énoncés sont disponibles sur le bureau virtuel.</li>

                            </ul>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-6">
            <h4><strong>2012-2014 : Contrat doctoral elargi</strong></h4>
            <p class="text-justify">
                Durant ma thèse, j'ai béneficié d'un contrat doctoral élargi me permettant ainsi de dispenser 64 heures d'enseignements annuels. Ci-dessous, les enseignements effectués dans le cadre mon contrat élargi.

            </p>
            <br><br><br><br>
            <div class="well">
                <ul>
                    <li class="text-primary">2013-2014, 40H Travaux partiques réparties comme suit :</li>
                    <span>1. Master 1, Programmation des applications réparties, 10H.</span><br>
                    <span>2. Licence 3, Introduction à la programmation client/serveur, 30H.</span><br>
                    <li class="text-primary">2012-2013, 64H Travaux partiques réparties comme suit :</li>
                    <span>1. Master 1, Administration des systèmes, 20H.</span><br>
                    <span>2. Master 1, Programmation des applications réparties, 10H.</span><br>
                    <span>3. Licence 3, Introduction à la programmation client/serveur, 30H.</span><br>
                    <span>4. Licence 1n Méthodes et outils informatiques, 4H</span>
                </ul>
            </div>

        </div>

    </div>

</div>