    <div class="header-content">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <!--h2>Enseignant-Chercheur</h2>
                    <h3>Dr Mandicou BA</-->

                    <h4>Enseignant-Chercheur en Informatique <br> Département de Génie Informatique <br> Ecole Supérieure Polytechnique (ESP) <br> Université Cheikh Anta Diop (UCAD) <br> Dakar, SENEGAL</h4>

                    <a class="btn white transparent scrollto" href="#profile">Voir mon profile</a>

                </div>

            </div>

        </div>

    </div>

