<div id="main-nav" class="navbar navbar-fixed-top">
    <div class="container">

        <div class="navbar-header text-primary">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scrollto " href="#" >Dr Mandicou BA   </a>
        </div>

        <div id="site-nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#profile" class="scrollto">Profile</a>
                </li>
                <li>
                    <a href="#cv" class="scrollto">CV</a>
                </li>
                <li>
                    <a href="#recherche" class="scrollto">Recherche</a>
                </li>
                <li>
                    <a href="#publications" class="scrollto">Publications</a>
                </li>
                <li>
                    <a href="#enseignements" class="scrollto">Enseignements</a>
                </li>
                <li>
                    <a href="views/ita/tp.html" >TP pour ITA</a>
                </li>
            </ul>
        </div><!--End navbar-collapse -->

    </div><!--End container -->

</div><!--End main-nav -->