 <div class="padding-top">
        <div class="container">

            <div class="row profile">

                <div class="col-sm-10 col-sm-offset-1 text-center">

                    <figure class="hover-wrapper scrollimation fade-right ">
                        <img class="img-responsive img-circle " src="dist/img/mandicou.png"   alt="">
                        <figcaption class="hover-text">That's Me!</figcaption>
                    </figure>
                    <div class=" text-justify">
                    <h2 class="scrollimation fade-left">Mandicou Ba</h2>
                    <h3 class="scrollimation fade-left">Enseignant-Chercheur en Informatique</h3>

                    <p class="margin-top scrollimation fade-right">Je suis Docteur en Informatique de l'Université de Reims Champagne-Ardenne.
                        J'ai soutenu publiquement ma thèse le 21 mai 2014 avec la mention Très Honorable.
                        Je suis qualifié aux fonctions de Maître de Conferences en Informatique du Conseil National des Universités de France (MCF CNU Section 27).   Date de qualification : 30/01/2015. Numero de Qualification : 15227265599<br/>

                        Je dispense des enseignements dans des matières telles que la théorie des langages et automates, la compilation, l'algorithmiques et les structures de données, la programmation, les systèmes d'exploitation, l'administration systèmes et réseaux, les réseaux informatiques, le génie logiciel reparti etc.<br/>

                        J'interviens dans l'ensemble des cycles du Département Génie Informatique à savoir le DUT et de DIC (Options Informatique et Télécommunication Réseaux) mais également dans les cycles de Licence et Master (Options Génie Logiciel et Systèmes d'Information (GLSI) et Réseaux Systèmes et Télécommunications (SRT))
                    </p>

                    <p class="lead margin-top scrollimation fade-left">
                        J'effectue mes activités de recherche dans le domaine des systèmes distribués et en particulier dans les réseaux ad hoc et réseaux de capteurs sans fil, les réseaux P2P, les Cloud Computing, l'Internet des Objets, etc.<br>

                        Mes travaux de recherche ont donné lieu à plusieurs publications dans des revues et conferences, internationales comme nationales, avec actes et comité de selection
                    </p>
                    <p class="scrollimation fade-left"><a class="btn btn-dc btn-main-color scrollto" href="#cv">Mon cv</a></p>
                    </div>
                </div>

            </div>

        </div>
    </div>