<div class="padding-top">
    <div class="container-fluid">

        <h2 class="section-title">Liste des  <span class="primary">publications</span></h2>
        <p class="section-description">Mes travaux de recherche ont donné lieu à plusieurs publications dans des revues et conferences, internationales comme nationales, avec facteurs d'impact, actes et comité de selection.</p>

        <!--==== publications  ====-->
        <div id="filter-works">
            <ul>
                <li class="active">
                    <a  href="" data-toggle="modal" data-target="#revuesinter">Revues Internationales</a>
                </li>
                <li>
                    <a href="" data-toggle="modal" data-target="#revuesfranco" >Revues Francophones à audience internationale</a>
                </li>
                <li>
                    <a href="" data-toggle="modal" data-target=".bs-inter-modal-lg" >Conferences Internationales</a>
                </li>
                <li>
                    <a href="" data-toggle="modal" data-target="#conf_franco">Conferences francophones  à audience internationale</a>
                </li>
                <li>
                    <a href=""data-toggle="modal" data-target="#conf_national">Conferences Nationales</a>
                </li>
            </ul>
        </div><!--End publications -->

    </div>
</div>

<div id="revuesinter" class="modal fade">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1>Revues Internationales</h1>
            </div>

            <div class="modal-body">

                <div class="project-descr">
                    <span class="badge">1</span>   Abel Diatta, Ibrahima Niang, Mandicou Ba, "An Overview and Comparison of Hierarchical P2P-SIP Networks", International Journal of Computer Science and Information Security, ISSN: 1947-5500, Volume 13, Issue 3, pp. 47 - 58, 2015.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">2</span> Mandicou Ba, Olivier Flauzac, Bachar Salim Haggar, Rafik Makhloufi, Florent Nolot, and Ibrahima Niang, "Energy-Aware Self-Stabilizing Distributed Clustering Protocol for Ad Hoc Networks: the case of WSNs", KSII Transactions on Internet and Information Systems, ISSN 1976-7277, Volume 7, Issue 11, pp. 2577 - 2596, 2013.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">3</span>  Mandicou Ba, Olivier Flauzac, Rafik Makhloufi, Florent Nolot, and Ibrahima Niang, "Fault-Tolerant and Energy-Efficient Generic Clustering Protocol for Heterogeneous WSNs", International Journal On Advances in Networks and Services, ISSN 1942-2644, Volume 6, Issue 3&4, pp. 231 - 245, 2013.
                </div>




            </div><!-- End modal-body -->

        </div><!-- End modal-content -->

    </div><!-- End modal-dialog -->

</div><!-- End modal -->
<div id="revuesfranco" class="modal fade">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1>Revues Francophones à audience internationale</h1>
            </div>

            <div class="modal-body">

                <div class="project-descr">
                    <span class="badge">1</span>   Mandicou Ba, Olivier Flauzac, Florent Nolot and Ibrahima Niang. Routage et agrégation de données dans les réseaux de capteurs sans fil structurés en clusters auto-stabilisants. Revue Africaine de la Recherche en Informatique et Mathématiques Appliquées (ARIMA), 2015.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">2</span>Mandicou Ba, Olivier Flauzac, Bachar Salim Haggar, Rafik Makhloufi, Florent Nolot, and Ibrahima Niang. Vers une structuration auto-stabilisante des réseaux Ad Hoc. Revue Africaine de la Recherche en Informatique et Mathématiques Appliquées (ARIMA), vol.17, pages 119-140, 2014.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">3</span>  Mandicou Ba, Olivier Flauzac, Bachar Salim Haggar, Florent Nolot, and Ibrahima Niang, "Clustering auto-stabilisant à k sauts dans les réseaux ad hoc". Revue URED (Université-Recherche-Développement), Presses Universitaires de l'Université Gaston Berger de Saint-Louis du Sénégal, 2012.
                </div>




            </div><!-- End modal-body -->

        </div><!-- End modal-content -->

    </div><!-- End modal-dialog -->

</div><!-- End modal -->
<div  class="modal fade bs-inter-modal-lg">

    <div class="modal-dialog modal-lg text-small" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

        <div class="modal-content">
            <div class="modal-body">
                <small>
                <div class="project-descr">
                    <span class="badge">1</span>   Mandicou Ba, Olivier Flauzac, Rafik Makhloufi, Florent Nolot et Ibrahima Niang : A Novel Aggregation Approach Based on Cooperative Agents and Self-Stabilizing Clustering for WSNs. In 7th International Conference on Communication Theory, Reliability, and Quality of Service, CTRQ'14, pages 23-26, 2014.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">2</span>Mandicou Ba, Olivier Flauzac, Bachar Salim Haggar, Florent Nolot, and Ibrahima Niang, "Self-stabilizing k-hops clustering algorithm for wireless Ad Hoc networks", In 7th ACM International Conference on Ubiquitous Information Management and Communication (IMCOM'13), pages 38:1-38:10, Kota Kinabalu, Malaysia, January 17-19, 2013. Best Paper Award.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">3</span> Mandicou Ba, Olivier Flauzac, Rafik Makhloufi, Florent Nolot, and Ibrahima Niang, "Comparison between self-stabilizing clustering algorithms in message-passing model", In 9th International Conference on Autonomic and Autonomous Systems (ICAS'13), pages 27-32, Lisbon, Portugal, March 2013.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">4</span> Mandicou Ba, Olivier Flauzac, Rafik Makhloufi, Florent Nolot, and Ibrahima Niang, "Evaluation study of self-stabilizing cluster-head election criteria in WSNs", In 6th International Conference on Communication Theory, Reliability, and Quality of Service (CTRQ'13), page 64-69 Venice, Italy, April 2013. Best Paper Award.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">5</span> Mandicou Ba, Ibrahima Niang, Bamba Gueye, Thomas Noel, "A deterministic key management scheme for securing cluster-based sensors networks", In EUC 2010 : The 8th IEEE/IFIP International Conference on Embedded and Ubiquitous Computing, pages 422-427, Hong Kong, China, December 11-13, 2010.
                </div>
                    <div class="text-center">
                    <a href="" data-dismiss="modal">Fermer</a>
                    </div>
                </small>


            </div><!-- End modal-body -->

        </div><!-- End modal-content -->

    </div><!-- End modal-dialog -->

</div><!-- End modal -->
<div id="conf_franco" class="modal fade">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1>Conferences francophones à audience internationale</h1>
            </div>

            <div class="modal-body">

                <div class="project-descr">
                    <span class="badge">1</span>   Mandicou Ba, Olivier Flauzac, Rafik Makhloufi, Florent Nolot et Ibrahima Niang : Vers une agrégation intelligente de données à base de clustering auto-stabilisant et d'agents coopératifs dans les RCSF. In 12th Colloque africain sur la recherche en Informatique et Mathématiques appliquées, CARIé14, Saint Louis, Sénégal, 2014.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">2</span>Mandicou Ba, Olivier Flauzac, Bachar Salim Haggar, Florent Nolot, and Ibrahima Niang, "Clustering auto-stabilisant à k sauts dans les réseaux ad hoc", In 11th African Conference on Research in Computer Science and Applied Mathematics(CARI'12), pages 420-427, Algiers, Algeria, October 13-16, 2012. Work in Progress : version courte avec preuve formelle.
                </div>


            </div><!-- End modal-body -->

        </div><!-- End modal-content -->

    </div><!-- End modal-dialog -->

</div><!-- End modal -->
<div id="conf_national" class="modal fade">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1>Conferences francophones à audience internationale</h1>
            </div>

            <div class="modal-body">

                <div class="project-descr">
                    <span class="badge">1</span>   Mandicou Ba, Olivier Flauzac, Rafik Makhloufi, Florent Nolot, and Ibrahima Niang, "Etude comparative entre solutions de clustering auto-stabilisantes dans les reseaux ad hoc", In 5ème édition du Colloque Nationale sur la Recherche en Informatique et ses Applications (CNRIA'13) pages 86-93, Zinguinchor, Senegal, 25 - 27 Avril 2013.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">2</span>Mandicou Ba, Olivier Flauzac, Bachar Salim Haggar, Florent Nolot, and Ibrahima Niang, "Clustering auto-stabilisant à k sauts dans les réseaux ad hoc", In 9ème édition de la conférence MAnifestation des JEunes Chercheurs en Sciences et Technologies de l'Information et de la Communication (MajecSTIC'12) 8 pages, Lille, France, 29 - 31 Octobre 2012. Work in Progress : version courte avec expérimentations.
                </div>

                <div class="clearfix">
                    <hr></div>

                <div class="project-descr">
                    <span class="badge">3</span>Mandicou Ba, Olivier Flauzac, Bachar Salim Haggar, Florent Nolot, and Ibrahima Niang, "Clustering auto-stabilisant à k sauts dans les réseaux ad hoc", In 4ème édition du Colloque Nationale sur la Recherche en Informatique et ses Applications (CNRIA'12) 8 pages, Thies et Bambeye, Senegal, 25 - 27 Avril. 2012.
                </div>




            </div><!-- End modal-body -->

        </div><!-- End modal-content -->

    </div><!-- End modal-dialog -->

</div><!-- End modal -->